In [1]:
import pandas as pd

In [17]:
# Jan 18
file = "../resources/1_18_tripdata.csv"

jan_18 = pd.read_csv(file)
#jan_18.head()

In [11]:
# Get a random subset of the data to cut down on the number of rows 

sub_jan = jan_18.sample(n=3000)
sub_jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
8769,589,23:54.0,33:43.9,3225,Baldwin at Montgomery,40.723659,-74.064194,3211,Newark Ave,40.721525,-74.046305,26193,Subscriber,1991,2
9453,637,44:24.2,55:01.7,3268,Lafayette Park,40.713464,-74.062859,3225,Baldwin at Montgomery,40.723659,-74.064194,26193,Subscriber,1977,2
2232,244,30:27.8,34:32.6,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,31686,Subscriber,1979,1
3028,343,38:26.0,44:09.8,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,31835,Subscriber,1983,1
9307,188,05:44.8,08:53.7,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,31735,Subscriber,1984,1

In [16]:
# Feb 18
file1 = "../resources/2_18_tripdata.csv"

feb_18 = pd.read_csv(file1)
#feb_18.head()

In [15]:
sub_feb = feb_18.sample(n=3000)
sub_feb.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6526,506,54:26.0,02:52.5,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,31833,Subscriber,1982,1
7330,204,13:07.4,16:32.3,3203,Hamilton Park,40.727596,-74.044247,3273,Manila & 1st,40.721651,-74.042884,26272,Subscriber,1982,1
5870,227,30:56.5,34:44.5,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,31822,Subscriber,1989,1
13775,429,40:11.0,47:20.3,3279,Dixon Mills,40.721630,-74.049968,3273,Manila & 1st,40.721651,-74.042884,31697,Subscriber,1990,2
5509,350,19:36.9,25:27.3,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,29237,Subscriber,1962,1

In [20]:
# March 18
file2 = "../resources/3_18_tripdata.csv"

mar_18 = pd.read_csv(file2)
#mar_18.head()

In [21]:
sub_mar = mar_18.sample(n=3000)
sub_mar.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
10306,201,51:15.2,54:37.0,3211,Newark Ave,40.721525,-74.046305,3185,City Hall,40.717733,-74.043845,26295,Subscriber,1982,1
8607,114,57:19.8,59:14.0,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,26151,Subscriber,1982,1
14831,188,01:28.5,04:37.4,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31828,Subscriber,1991,1
2278,232,38:47.1,42:39.2,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29465,Subscriber,1969,0
12501,443,13:56.9,21:20.1,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,29598,Subscriber,1987,1

In [ ]:
# April 18
file3 = "../resources/4_18_tripdata.csv"

apr_18 = pd.read_csv(file3)
apr_18.head()