In [1]:
import pandas as pd

In [17]:
# Jan 18
file = "../resources/1_18_tripdata.csv"

jan_18 = pd.read_csv(file)
#jan_18.head()

In [11]:
# Get a random subset of the data to cut down on the number of rows 

sub_jan = jan_18.sample(n=3000)
sub_jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
8769,589,23:54.0,33:43.9,3225,Baldwin at Montgomery,40.723659,-74.064194,3211,Newark Ave,40.721525,-74.046305,26193,Subscriber,1991,2
9453,637,44:24.2,55:01.7,3268,Lafayette Park,40.713464,-74.062859,3225,Baldwin at Montgomery,40.723659,-74.064194,26193,Subscriber,1977,2
2232,244,30:27.8,34:32.6,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,31686,Subscriber,1979,1
3028,343,38:26.0,44:09.8,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,31835,Subscriber,1983,1
9307,188,05:44.8,08:53.7,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,31735,Subscriber,1984,1

In [16]:
# Feb 18
file1 = "../resources/2_18_tripdata.csv"

feb_18 = pd.read_csv(file1)
#feb_18.head()

In [15]:
sub_feb = feb_18.sample(n=3000)
sub_feb.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6526,506,54:26.0,02:52.5,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,31833,Subscriber,1982,1
7330,204,13:07.4,16:32.3,3203,Hamilton Park,40.727596,-74.044247,3273,Manila & 1st,40.721651,-74.042884,26272,Subscriber,1982,1
5870,227,30:56.5,34:44.5,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,31822,Subscriber,1989,1
13775,429,40:11.0,47:20.3,3279,Dixon Mills,40.721630,-74.049968,3273,Manila & 1st,40.721651,-74.042884,31697,Subscriber,1990,2
5509,350,19:36.9,25:27.3,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,29237,Subscriber,1962,1

In [20]:
# March 18
file2 = "../resources/3_18_tripdata.csv"

mar_18 = pd.read_csv(file2)
#mar_18.head()

In [21]:
sub_mar = mar_18.sample(n=3000)
sub_mar.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
10306,201,51:15.2,54:37.0,3211,Newark Ave,40.721525,-74.046305,3185,City Hall,40.717733,-74.043845,26295,Subscriber,1982,1
8607,114,57:19.8,59:14.0,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,26151,Subscriber,1982,1
14831,188,01:28.5,04:37.4,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31828,Subscriber,1991,1
2278,232,38:47.1,42:39.2,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29465,Subscriber,1969,0
12501,443,13:56.9,21:20.1,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,29598,Subscriber,1987,1

In [23]:
# April 18
file3 = "../resources/4_18_tripdata.csv"

apr_18 = pd.read_csv(file3)
#apr_18.head()

In [24]:
sub_apr = apr_18.sample(n=3000)
sub_apr.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
23236,252,04:54.1,09:06.5,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,26177,Subscriber,1987,1
1585,1481,40:49.7,05:31.7,3184,Paulus Hook,40.714145,-74.033552,3270,Jersey & 6th St,40.725289,-74.045572,29539,Subscriber,1983,1
19555,6059,55:34.3,36:33.8,3275,Columbus Drive,40.718355,-74.038914,3275,Columbus Drive,40.718355,-74.038914,26431,Customer,1980,2
8005,187,11:18.7,14:26.2,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26177,Subscriber,1985,2
19834,769,10:59.6,23:48.9,3276,Marin Light Rail,40.714584,-74.042817,3192,Liberty Light Rail,40.711242,-74.055701,26196,Customer,1969,0

In [26]:
# May 18
file4 = "../resources/5_18_tripdata.csv"

may_18 = pd.read_csv(file4)
#may_18.head()

In [27]:
sub_may = may_18.sample(n=3000)
sub_may.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
13031,488,40:54.6,49:03.0,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,29575,Subscriber,1975,1
11901,442,01:39.1,09:02.0,3198,Heights Elevator,40.748716,-74.040443,3206,Hilltop,40.731169,-74.057574,33569,Subscriber,1992,1
24189,175,41:07.4,44:03.0,3269,Brunswick & 6th,40.726012,-74.050389,3272,Jersey & 3rd,40.723332,-74.045953,26210,Subscriber,1978,1
33566,768,05:06.9,17:55.0,3678,Fairmount Ave,40.725726,-74.071959,3681,Grand St,40.715178,-74.037683,29455,Subscriber,1968,1
5290,240,15:46.4,19:46.9,3186,Grove St PATH,40.719586,-74.043117,3278,Monmouth and 6th,40.725685,-74.048790,29267,Subscriber,1978,1

In [29]:
# June 18
file5 = "../resources/6_18_tripdata.csv"

jun_18 = pd.read_csv(file5)
#jun_18.head()

In [30]:
sub_jun = jun_18.sample(n=3000)
sub_jun.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
12154,724,46:30.7,58:34.9,3195,Sip Ave,40.730743,-74.063784,3191,Union St,40.718211,-74.083639,29125,Subscriber,1962,1
35295,345,22:00.5,27:46.3,3280,Astor Place,40.719282,-74.071262,3195,Sip Ave,40.730743,-74.063784,33658,Subscriber,1988,1
28115,1155,52:01.5,11:16.6,3267,Morris Canal,40.712419,-74.038526,3640,Journal Square,40.733670,-74.062500,33587,Subscriber,1993,1
36051,180,05:39.5,08:39.7,3481,York St,40.716490,-74.041050,3186,Grove St PATH,40.719586,-74.043117,26251,Subscriber,1978,1
13421,415,15:02.5,21:57.8,3195,Sip Ave,40.730743,-74.063784,3678,Fairmount Ave,40.725726,-74.071959,29448,Subscriber,1980,1

In [31]:
# July 18 
file6 = "../resources/7_18_tripdata.csv"

jul_18 = pd.read_csv(file6)
#jul_18.head()

In [32]:
sub_jul = jul_18.sample(n=3000)
sub_jul.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
17703,989,33:10.0,49:40.0,3202,Newport PATH,40.727224,-74.033759,3192,Liberty Light Rail,40.711242,-74.055701,29487,Customer,1969,0
37330,254,02:08.8,06:23.3,3483,Montgomery St,40.719420,-74.050990,3269,Brunswick & 6th,40.726012,-74.050389,33569,Subscriber,1989,2
37657,1981,59:04.2,32:05.3,3483,Montgomery St,40.719420,-74.050990,3483,Montgomery St,40.719420,-74.050990,26161,Subscriber,1969,1
12556,228,38:42.4,42:30.8,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26223,Subscriber,1994,1
7733,357,03:31.1,09:28.2,3186,Grove St PATH,40.719586,-74.043117,3278,Monmouth and 6th,40.725685,-74.048790,29229,Subscriber,1987,1

In [33]:
# August 18
file7 = "../resources/8_18_tripdata.csv"

aug_18 = pd.read_csv(file7)
#aug_18.head()

In [34]:
sub_aug = aug_18.sample(n=3000)
sub_aug.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
31306,439,18:32.6,25:52.0,3270,Jersey & 6th St,40.725289,-74.045572,3276,Marin Light Rail,40.714584,-74.042817,26265,Subscriber,1970,1
39126,266,39:36.9,44:03.4,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,29639,Subscriber,1988,1
13937,282,23:23.6,28:06.4,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29479,Subscriber,1990,1
18452,853,24:29.7,38:43.5,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,33650,Subscriber,1969,0
8833,557,36:31.6,45:48.9,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,29435,Subscriber,1967,1

In [38]:
# Sept 18
file8 = "../resources/9_18_tripdata.csv"

sep_18 = pd.read_csv(file8)
#sep_18.head()

In [41]:
sub_sep = sep_18.sample(n=3000)
sub_sep.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
38054,507,05:20.6,13:48.3,3679,Bergen Ave,40.722104,-74.071455,3195,Sip Ave,40.730743,-74.063784,29629,Subscriber,1964,1
6119,238,51:58.7,55:57.4,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,26311,Subscriber,1978,2
17881,265,21:05.6,25:30.7,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29459,Subscriber,1978,2
1634,229,28:42.1,32:32.0,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29219,Subscriber,1973,1
14149,121,58:22.7,00:24.1,3199,Newport Pkwy,40.728745,-74.032108,3202,Newport PATH,40.727224,-74.033759,33674,Subscriber,1980,1

In [42]:
# Oct 18
file9 = "../resources/10_18_tripdata.csv"

oct_18 = pd.read_csv(file9)
#oct_18.head()

In [43]:
sub_oct = oct_18.sample(n=3000)
sub_oct.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
132,216,51:46.9,55:23.1,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,29490,Subscriber,1975,1
4666,561,41:05.8,50:27.4,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,33660,Subscriber,1990,1
35355,335,00:36.1,06:11.3,3638,Washington St,40.724294,-74.035483,3184,Paulus Hook,40.714145,-74.033552,26189,Subscriber,1974,1
2639,351,59:00.2,04:51.9,3184,Paulus Hook,40.714145,-74.033552,3186,Grove St PATH,40.719586,-74.043117,29634,Subscriber,1979,1
4217,218,16:10.4,19:49.1,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,26189,Subscriber,1989,1

In [44]:
# Nov 18
file10 = "../resources/11_18_tripdata.csv"

nov_18 = pd.read_csv(file10)
#nov_18.head()

In [45]:
sub_nov = nov_18.sample(n=3000)
sub_nov.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
10756,257,21:01.3,25:19.1,3203,Hamilton Park,40.727596,-74.044247,3272,Jersey & 3rd,40.723332,-74.045953,29528,Subscriber,1986,1
9585,1277,48:55.8,10:12.9,3202,Newport PATH,40.727224,-74.033759,3269,Brunswick & 6th,40.726012,-74.050389,29635,Customer,1969,0
14778,183,32:58.5,36:02.1,3213,Van Vorst Park,40.718489,-74.047727,3186,Grove St PATH,40.719586,-74.043117,29509,Subscriber,1967,2
7974,772,35:07.8,47:59.9,3195,Sip Ave,40.730743,-74.063784,3191,Union St,40.718211,-74.083639,29462,Subscriber,1962,1
10016,435,41:45.0,49:00.8,3202,Newport PATH,40.727224,-74.033759,3269,Brunswick & 6th,40.726012,-74.050389,29291,Subscriber,1985,2

In [ ]:
# Dec 18
file11 = "../resources/12_18_tripdata.csv"

dec_18 = pd.read_csv(file11)
#dec_18.head()

In [ ]:
sub_dec = dec_18.sample(n=3000)
sub_de.head()